#set editing-mode vi
## arrow up
## arrow down
# Arrow keys in keypad mode

"\C-x\C-r": re-read-init-file

"\e[A":history-search-backward
"\e[B":history-search-forward
"\C-[OA": history-search-backward
"\C-[OB": history-search-forward

## These combined make bash unusably slow:
#"\C-[OC": forward-char
#"\C-[OD": backward-char

# Arrow keys in ANSI mode
#"\C-[[A": history-search-backward
#"\C-[[B": history-search-forward
#"\C-[[C": forward-char
#"\C-[[D": backward-char

# Arrow keys in 8 bit keypad mode
#"\C-M-OA": history-search-backward
#"\C-M-OB": history-search-forward
#"\C-M-OC": forward-char
#"\C-M-OD": backward-char

# Arrow keys in 8 bit ANSI mode
#"\C-M-[A": history-search-backward
#"\C-M-[B": history-search-forward
#"\C-M-[C": forward-char
#"\C-M-[D": backward-char
